div.bucket-details-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
}

div.bucket-details-header {
    border-bottom: 1px solid #ccc;
}

div.bucket-details-header span {
    margin-right: 10px;
}

.popup-form-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    min-width: 500px;
}

.task-container {
    padding: 5px;
    margin-bottom: 2px;
    border-radius: 10px;
}

.task-container div {
    display: inline-block;
    font-size: 1.1em;
}

.task-container input {
    width: 20px;
    height: 20px;
}

.task-item-false {

}

.task-item-true {
    background-color: #ccc;
}